{
  "CreateTodoFunction": {
    "TABLE_NAME": "Your Actual DynamoDB Name"
  },
  "GetTodosFunction": {
    "TABLE_NAME": "Your Actual DynamoDB Name"
  },
  "UpdateTodoFunction": {
    "TABLE_NAME": "Your Actual DynamoDB Name"
  },
  "DeleteTodoFunction": {
    "TABLE_NAME": "Your Actual DynamoDB Name"
  }
}
